.musicEditor {
  /* background-color: rgb(0, 0, 0); */
  margin-top: 5px;
  position: relative;
  z-index: 1;
  height: 200px;
  overflow: visible;
  margin-bottom: 120px;
}

.toolkit {
  display: flex;
  justify-content: space-between;
}

.timeDisplayer {
  padding: 0 5px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 700;
  color: black;
  background-color: rgba(250, 234, 214, 0.1);
}
