.me-page {
  text-align: center;
  margin: auto;
}

.me {
  margin: 0px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  height: 10rem;
  padding: 15px;
  color: black;
  margin: 20px 10px;
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heart-container {
  text-align: right;
  padding-right: 10px;
}

.heart {
  margin: 5px;
  width: 20px;
  height: auto;
}

.arrows {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.arrow {
  width: 30px;
  height: auto;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.heading {
  font-size: x-large;
  font-weight: 700;
  text-align: left;
  padding: 30px;
}

.livestream-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px;
  gap: 5px;
}
